*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

/* Text  */
.feature-txt{
    font-family: 'Lobster', cursive;
    color: grey;
    padding-bottom: 20px;
}

.container{
    font-size: 40px;
    background-color: rgb(255, 255, 255);
    margin: 10%;
    margin-left: 20%;
    margin-right: 20%;
    width:60%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.content{
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

input{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding:20px;
    border:1.4px black solid;
    border-radius: 10px;
}

select{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(233, 233, 233);
    border: 1px solid black;
    border-radius: 4px;
    font-size: 15px;
    font-weight:600;
    padding:10px;
}

textarea{
    visibility:hidden;
    padding: 8px;
    margin-top: 10px;
    width: 260px;
    font-size: 20px;
    text-align: center;
    color: rgb(245, 0, 0);
    font-weight: bold;
    border:1.4px black solid;
    background-color: rgb(199, 252, 255);
    border-radius: 10px;
}
.btn{
    cursor: pointer;
    width: 150px;
    margin: 10px;
    padding: 15px;
    background-color: rgb(251, 255, 252);
}
@media screen and (max-width: 480px) {
    .container {
        font-size: 20px;
        margin: 5%;
        
        width:88%;
        padding: 5px;
        border-radius: 10px;
    }
     
    select{
        font-size: 10px;
        font-weight: 300;
    }

    .content{
        font-size: 10px;
    }

  }